#contactos {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 30px;
  background-color: #e8e8e8;
}

#footer-contacto {
  margin-top: 0px;
}

.contactos {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin-top: 60px;
}

.contacto-dados {
  display: grid;
  border-radius: 5px 0 0 5px;
  background-color: var(--cor-1);
  justify-content: start;
}

.contacto-dados h2 {
  font-size: 3rem;
  font-weight: 600;
}

.contacto-dados a {
  font-size: 1.25rem;
  color: var(--cor-bg4);
  transition: 0.5s;
}

.contacto-dados a:hover {
  color: var(--cor-0);
}

.contacto-dados ul li {
  margin-top: 20px;
}

.contacto-formulario {
  border-radius: 0 5px 5px 0;
  background-color: var(--cor-bg1);
}

.contacto-dados,
.contacto-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contactos-redes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.contactos-redes img {
  width: 30px;
  transition: 0.4s;
}

.contactos-redes img:hover {
  transform: scale(1.07);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form input,
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background-color: var(--cor-0);
  border: 1px solid var(--cor-1);
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--cor-4);
}

.col-2 {
  grid-column: span 2;
}

.perguntas {
  padding-top: 120px;
  padding-bottom: 60px;
}

.perguntas h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 60px;
  color: var(--cor-bg4);
}

.perguntas dl > div {
  padding: 20px;
  border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-bg1);
}

.perguntas dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.perguntas dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-bg3);
}

.perguntas dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/icones/seta-abrir.svg");
  transition: 0.3s;
}

.perguntas dt:hover::after {
  transform: rotate(180deg);
}

.perguntas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}

@media (max-width: 930px) {
  .contactos {
    grid-template-columns: 1fr;
  }
  .contacto-dados {
    justify-content: center;
    text-align: center;
    gap: 20px;
    border-radius: 4px;
  }
  .contacto-formulario {
    border-radius: 4px;
  }
}

@media (max-width: 560px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .nome,
  .form .telefone {
    grid-column: 1 / -1;
  }
  .contactos .contacto-dados h2 {
    font-size: 1.5rem;
  }

  .contactos .contacto-dados a {
    font-size: 1rem;
  }
  .contactos-redes img {
    width: 20px;
  }
  #contactos {
    padding: 5px;
  }
  .contacto-dados,
  .contacto-formulario {
    padding: 30px;
  }
  .perguntas {
    padding-top: 60px;
  }
  .perguntas h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 60px;
    color: var(--cor-bg4);
  }
}
