.footer-bg {
  background-color: var(--cor-bg3);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid var(--cor-bg2);
}

.footer-texto {
  display: grid;
  place-items: center;
}

.footer-texto p {
  margin-top: 25px;
  text-align: center;
}

.contacto h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--cor-bg2);
  margin-bottom: 40px;
}

.contacto {
  justify-self: end;
}

.contacto img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-left: -30px;
  position: absolute;
}

.contacto a {
  transition: 0.4s;
  font-size: 1rem;
  color: var(--cor-bg4);
}

.contacto ul li {
  margin-top: 20px;
}

.copy {
  margin-bottom: 0px;
  margin-top: 60px;
  display: inline-block;
  text-align: center;
  grid-column: 1 / -1;
}

footer a:hover {
  color: var(--cor-0);
}

@media (max-width: 800px) {
  .footer {
    font-size: 70%;
  }
}

@media (max-width: 550px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    justify-content: center;
  }
  .contacto {
    margin-top: 20px;
    justify-self: center;
  }
  .copy {
    font-size: initial;
    color: var(--cor-bg2);
    border-top: 1px solid var(--cor-bg4);
    padding-top: 20px;
  }
}
